@tailwind base;
@tailwind components;
@tailwind utilities;

@layer component {
  .icon {
    @apply h-5 w-5  cursor-pointer rounded-sm hover:bg-gray-200;
  }
  .post-button {
    @apply p-2 flex items-center text-base  text-gray-500 hover:bg-gray-100 cursor-pointer;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(229 231 235);
}

a {
  color: inherit;
  text-decoration: none;
}
