@tailwind base;
@tailwind components;
@tailwind utilities;

@layer component {
  .icon {
    @apply h-5 w-5 cursor-pointer rounded-sm;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
